<!DOCTYPE html>
<html>
<head>
    
    
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    
    
   
</head>
<body>
    <h1>
        Welcome to EaseMyAcademics
    </h1>

    <!-- <div>
        <button class="button-30" role="button">Login </button>
        <button class="button-30" role="button">Register</button> 
    </div> -->

    <a href="/users/sign-up">Sign Up</a>
    <a href="/users/sign-in">Sign in</a>
    
</body>
</html>