<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        
        <h1>
            Ease Out Acads / Welcome to Your Profile Page
        </h1>

        
         <p>Hi!!  <%= user.name%></p>
        <p><%= user.email%></p> 

    </body>


</html>